<%= stylesheet_link_tag "add_story" %>
<%= stylesheet_link_tag "subModal" %>
<%= javascript_include_tag "subModal" %>

<div id="add_story">
  <div id="add_story-ct">
    <div id="add_story-header">
      <h2>Раскажи свою историю</h2>
      <p>Это очень просто и бесплатно</p>
      <a class="modal_close" href="#" onclick="window.top.hidePopWin();"></a>
    </div>
    <%= form_for :story, :url => { :controller => "stories"}  do |f| %>
      <div class="txt-fld">
        <div>
            <%= f.label :author, "Ваше имя" %>
        </div>
        <div>
          <%= f.text_field :author, :size => 60 %>
        </div>
      </div>
      <div class="txt-fld">
        <div>
            <%= f.label :content, "История" %>
        </div>
        <div>
            <%= f.text_area :content %>
        </div>
      </div>
      <div class="btn-fld">
        <button onclick="document.forms[0].submit();">Добавить</button>
      </div>
    <% end %>
  </div>
</div>